<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Blinker</title>
</head>
<body>
    <div id="app" v-bind:style="{ 'background-color': currentColor }">
        <form id="main-form" class="pure-form pure-form-aligned">
            <fieldset v-for="(item, i) in items">
                <legend>{{ getIndexTitle(i + 1) }}</legend>
                <div class="pure-control-group">
                    <label :for="`item-duration-${i}`">Duration</label>
                    <input type="number" :id="`item-duration-${i}`" placeholder="duration in ms" v-model="item.duration" />
                    <span class="pure-form-message-inline">ms</span>
                </div>
                <div class="pure-control-group">
                    <label :for="`item-color-${i}`">Color</label>
                    <input type='color' :id="`item-color-${i}`" placeholder="color"  v-model="item.color" />
                </div>
            </fieldset>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.js"></script>
    <script src="blinker.js" defer></script>
</body>
</html>
